.support-btn {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: #1c78af;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  font-size: 24px;
  animation: pingPong 3s infinite linear;
  transition: 0.2s all linear;
}

.support-btn:hover {
  background-color: #026ddf;
}

@keyframes pingPong {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.07;
  }
  100% {
    scale: 1;
  }
}

.support-options {
  opacity: 0;
  visibility: hidden;
  display: flex; /* Escondido por padrão */
  position: fixed;
  flex-direction: column;
  width: 250px;
  height: 250px;
  font-size: 24px;
  bottom: 150px;
  right: 20px;
  background-color: #e4efff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  color: #ffffff;
  transition: all 0.2s linear;
  z-index: 1000;
}
.support-options .header-options {
  background-color: #1c78af;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.support-options .header-options img {
  width: 70px;
}

.support-options .header-options a {
  color: #ffffff;
  font-size: 1rem;
  font-family: "Inter";
}

.support-option {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1rem;
  font-family: "Istok web";
  border-radius: 10px 10px 10px 0;
  background: #1c78af;
  margin: 10px 0 0 5px;
  padding: 10px 20px;
  width: 70%;
  text-align: left;
  cursor: pointer;
  color: #ffffff;
}

.support-option:hover {
  background-color: #192129;
}

.show {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s linear;
}
