/* General Styles */
header {
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-family: "Inter";
  justify-content: space-between;
  background-color: var(--cor-branco);
  height: 92px;
  max-height: 92px;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  font-family: "Inter";
  justify-content: space-between;
  padding: 15px;
}

nav .nav-item {
  display: flex;
  gap: 15px;
  transition: 0.3s all linear;
}

nav .nav-item a.ativo {
  color: #1c78af;
}

nav .nav-item a {
  font-weight: 600;
  color: var(--cor-preto);
  transition: 0.3s all linear;
}

nav .nav-item a:hover {
  color: #1c78af;
}

nav .nav-btn a {
  color: var(--cor-branco);
  font-weight: 600;
  padding: 19px 22px;
  border-radius: 15px;
  background: linear-gradient(180deg, #214285, #1c78af);
  transition: 0.3s all linear;
}

nav .nav-btn a:hover {
  opacity: 0.9;
}

.hamburger-btn {
  display: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  position: relative;
}

.hamburger-btn span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: var(--cor-preto);
  margin-bottom: 5px;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.hamburger-btn.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px);
  border-radius: 3px;
}

.hamburger-btn.active span:nth-child(2) {
  border-radius: 3px;
  transform: rotate(-45deg) translate(6px);
}

.hamburger-btn.active span:nth-child(3) {
  opacity: 0;
}

@media screen and (max-width: 1000px) {
  nav {
    justify-content: space-between;
  }

  nav .nav-img img {
    width: 100px;
  }

  nav .nav-item {
    display: block;
    opacity: 0;
    gap: 15px;
    transition: 0.3s all linear;
  }

  nav .nav-btn a {
    background-color: transparent;
    display: block;
    font-size: 15px;
  }

  .hamburger-btn {
    display: block;
  }
  .nav-item.show {
    transition: 0.3s all linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    background-color: var(--cor-branco);
    opacity: 1;
    z-index: 10000;
    animation: slideIn 0.3s ease-in-out forwards;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
